
{% include "sitio/cabecera.html" %}
<style>
  .image_principal{
          position: relative;
          display: inline-block;
          text-align: center;
          margin-top: 2%;
      }
</style>

  <!--Imagen Principal de desarrollo -->

      <img src="/image/docente.jpg" class="d-block w-100 width:150%" alt="Fondo programing">
    
  <!--/.Imagen Principal de desarrollo-->


   <div class="container">

        <!--Descripción de habilidades -->
        <a id="sobre_mi"></a>
         <!--Texto y contenido -->
      <div class="container1">
        <div class="sobre">
            
  
          <a id="sobre_mi"></a>
          <br>
          <div class="row featurette">
            <div class="center">
              <h1 class="featurette-heading fw-normal lh-1">Publicación de Tareas, Proyectos y Actividades.</h1>
              <h2 class="featurette-heading fw-normal lh-2">Docente César Montaño.</h2>
              <p class="lead">Quisque et justo sit amet lectus consequat laoreet. 
                Morbi et vestibulum neque, id facilisis mauris. In hac habitasse platea dictumst. 
                Etiam in est at orci condimentum pharetra porta pharetra elit. Pellentesque dignissim risus sed ex 
                tempus lacinia. Quisque in tellus aliquet, pellentesque lectus sed, suscipit sem.
                Maecenas at gravida risus. Nunc pellentesque ullamcorper iaculis. Ut eu ante nec ipsum pulvinar
                imperdiet quis sit amet ipsum..<br>
           
            
            
          
              </div>
              <p><a class="btn btn-secondary " href="" target="_blank">Verifica </a></p>
         </div>
          </div>
          
  
 

  {% include "sitio/pie.html" %}
  