{% include "sitio/cabecera.html" %}

<!-- sección personalizada segun gustos del usuario -->

<style>
      .image_principal{
            position: relative;
            display: inline-block;
            text-align: center;
            margin-top: 2%;
        }

       .image_texto{
           color:white;
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%,-50%);
           font-size: 2rem;
           
           padding: 20px;
           font-family: Arial, Helvetica, sans-serif;    
        }
</style>

  
      <!--Imagen Principal de desarrollo -->
        <div class="image_principal">
        <img src="/image/source.jpg" class="d-block w-100 width:100%" alt="Fondo programing">
        
        <p class="image_texto ">
            <img  src="/image/cesan.webp" class="bd-placeholder-img " width="90" height="90" alt="">
        </p>
      </div>
      <!--/.Imagen Principal de desarrollo-->


  <div class="container">

      <!--Descripción de habilidades -->
      <a id="sobre_mi"></a>
      <!--Texto y contenido -->
      <div class="container1">
        <div class="sobre">
            
  
          <a id="sobre_mi"></a>
          <br>
          <div class="row featurette">
             <div class="center">
               <h1 class="featurette-heading fw-normal lh-1">Te cuento un poco sobre mí.</h1>
               <h2 class="featurette-heading fw-normal lh-2">Soy César Gómez, Desarrollador Web e Ingeniero de Sistemas.</h2>
               <p class="lead">Soy un profesional capacitado en manejo de la información y archivística,
                 además cuento con habilidades sociales y éticas que me permiten tener una buena
                 comunicación con mis compañeros de trabajo, logrando facilitar los procesos
                 que se requieran llevar a cabo, cuento con una gran habilidad lógica
                 para la solución de problemas, gracias a mí conocimiento como estudiante de 
                 ingeniería de sistemas y a mis habilidades adquiridas en servicio al cliente.<br>
                 
                </p>
                <p class="lead">-Deportista<BR> -Filósofo<BR> -Aficionado a las artes marciales<BR> -Pronto maestro.</p>
            
          
              </div>
              <p><a class="btn btn-secondary " href="https://drive.google.com/file/d/1RJmqJR9PSG7GWJA3yJK107pjEyFaZWlN/view?usp=share_link" target="_blank">Currículum </a></p>
           </div>
         </div>
          
      </div><!--/.Descripción de habilidades -->

  </div>


{% include "sitio/pie.html" %}